{
    "email": "email@host.com",
    "apiKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "zoneID": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "recordsToUpdate": [
        {
            "hostname": "test.mydomain.com",
            "type": "A"
        }
    ]
}